*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
}

.color-display{
    font-size: 50px;
}


        
#generateColorBtn {
    background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
    margin: 80px 10px 10px 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: none;
    cursor: pointer;
  }

  #generateColorBtn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 